.jeopardy-row:first-of-type {
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.jeopardy-row:last-of-type {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.jeopardy-row:nth-of-type(2n) {
    background-color: #8BC6EC;
    background-image: linear-gradient(0deg, #8BC6EC 0%, #9599E2 100%);
}

.jeopardy-row:nth-of-type(3n) {
    background-color: #FF9A8B;
    background-image: linear-gradient(0deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}

.jeopardy-tile {
    border-color: rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.8) 100%);
    color: rgba(0, 0, 0, 0.7);
}

.jeopardy-tile-solved {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.66)
}